body {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', monospace;
}

/* Game Container - Ang "Screen" ng Laro */
#game-container {
    width: 600px;
    height: 150px;
    border: 2px solid #333;
    position: relative;
    overflow: hidden;
    background-color: white;
}

/* Ground Line */
#ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: #333;
    z-index: 10;
}

/* Dino Style (Square Block) */
#dino {
    width: 25px;
    height: 25px;
    background-color: #555;
    position: absolute;
    bottom: 10px; /* Ang default height sa ibabaw ng ground (10px) */
    left: 20px;
    z-index: 15;
    transition: background-color 0.1s; /* Para sa flashing effect pag na-collide */
}

/* Obstacle Style (Cactus Block) */
#obstacle {
    width: 15px;
    height: 30px;
    background-color: green;
    position: absolute;
    bottom: 10px; 
    right: -20px; 
    z-index: 12;
}

/* Scoreboard Style */
#score {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    color: #333;
    z-index: 25;
}

/* Game Over Screen */
#game-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #333;
    text-align: center;
    z-index: 30;
}

.hidden {
    display: none !important;
}